DNS lookup fails with TXT record for acme-challenge

**Describe the bug**

We're using a wildcard record to route all request for cloud.xxx.com to App Gateway. When I'm using keyvault-acmebot to created a certificate, it created the DNS record as expected and issues the certificate and stores the certificate in the keyvault. However the Azure DNS server isn't return App Gateway for the domain as long as the TXT record / acme-challenge for the domain exists which was created by keyvault-acmebot.

keyvault-acmeboot should automatically delete the DNS record for acme-challenge after creation or renewal of the certificate.

**To Reproduce**
Steps to reproduce the behavior:
1. Create A record for a wildcard cloud.xxx.com in the Azure DNS which contains the App Gateway IP.
2. Check the DNS record for bookinfo.cloud.xxx.com to return the IP of the App Gateway
3. Create a certificate for bookinfo.cloud.xxx.com using keyvault-acmebot
4. Check the DNS record for bookinfo.cloud.xxx.com, it will fail to return the IP of the App Gateway
5. Manually delete TXT record for the acme-challenge for bookinfo.cloud.xxx.com
6. Check the DNS record for bookinfo.cloud.xxx.com, it will return the IP of the App Gateway

**Environment (please complete the following information):**
 - Certificate Type: Letsencrypt
 - Certificate Deploy Target: App Gateway


This is the response from the Azure Support:

Wildcard RRs do not apply:
 
- When the query is in another zone.  That is, delegation cancels the wildcard defaults.
- When the query name or a name between the wildcard domain and the query name is known to exist.  For example, if a wildcard RR has an owner name of "*.X", and the zone also contains RRs attached to Z.X (presuming there is no explicit information for Z.X), but not to B.X, A.B.X, or X.

Refer Page 25: https://tools.ietf.org/html/rfc1034

If a record exists further in the domain tree than a wildcard record, the wildcard record is not presented for any name that is within the same branch

So in our case the record is:
*.cloud.xxx.com
now we have another record created
ABC.XYZ.cloud.xxx.com

Since we are branching into the domain tree, any wildcard record wont work at the domain level.
In this particular case the record they want to resolve does not have a resource record associated with it, but since the records mentioned exist, cloud.xxx.com. is an empty non-terminal name, as expanded in RFC4592 section 2.2.3:
The domain name space is a tree structure.  Nodes in the tree either own at least one RRSet and/or have descendants that collectively own at least one RRSet. A node may exist with no RRSets only if it has descendants that do; this node is an empty non-terminal.
In section 4.9 of the same RFC, the following is stated:
If a source of synthesis is an empty non-terminal, then the response will be one of no error in the return code and no RRSet in the answer section.
According to this, a Query for an empty non-terminal such as cloud.accallio.com. should receive a response with no Resource Record Set(an empty response).


cert-manager.io is also removing the acme-challenge after the creation of the certificates.

I'll implement it because the RFC says should delete the record on completion.

>The client SHOULD de-provision the resource record(s) provisioned for this challenge once the challenge is complete
https://tools.ietf.org/html/rfc8555